<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Login</h1>

    <!-- show any messages that come back with authentication -->
    <div class="alert alert-danger" ng-show="message" ng-if="error">{{message}}</div>
    <div class="alert alert-success" ng-show="message" ng-if="!error">{{message}}</div>

    <!-- LOGIN FORM -->
    <form name="loginForm" ng-submit="login()" role="form">
        <div class="form-group" ng-class="{ 'has-error': loginForm.email.$touched && loginForm.email.$invalid }">
            <label>Email</label>
            <input type="email" id="email" name="email" class="form-control" ng-model="form.email" ng-minlength="5" ng-maxlength="20" required/>
            <div class="help-block" ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched">
                <p ng-message="required">Email is required</p>
                <p ng-message="minlength">Email is too short</p>
                <p ng-message="maxlength">Email is too long</p>
                <p ng-message="email">Not a valid email</p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': loginForm.password.$touched && loginForm.password.$invalid }">
            <label>Password</label>
            <input type="password" id="password" name="password" class="form-control" ng-model="form.password" ng-minlength="5" ng-maxlength="20" required/>
            <div class="help-block" ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
                <p ng-message="required">Password is required</p>
                <p ng-message="minlength">Password is too short</p>
                <p ng-message="maxlength">Password is too long</p>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-warning btn-lg" ng-disabled="loginForm.$invalid || dataLoading" >Login</button>
            <img src="assets/img/loading.gif" alt="loading..." width="30" height="30" ng-if="dataLoading" />
        </div>
    </form>

    <hr>

    <p>Need an account? <a href="/signup">Signup</a></p>
    <p>Or go <a href="/">Home</a>.</p>

</div>
